.intro {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	background: linear-gradient(white, #eaeaea);
	padding-bottom: 2.5rem;
	align-items: center;

	&__explain {
		font-weight: bold;
		font-size: 1rem;
		padding: 0 1.1rem;
		margin-top: 2rem;
	}
}

.bandeau-loc {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 3rem;
	background-color: #eaeaea;
	font-weight: bold;

	&__icon {
		padding-right: 1rem;
	}
}

.restaurants_list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	gap: 1.1rem 0;

	@media (min-width: $breakpoint-tablet) {
		gap: 2rem;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.fonctionnement {
	margin: 0 1rem;

	h2 {
		@media (min-width: $breakpoint-tablet) {
			text-align: center;
		}
	}
}

.fonctionnement-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style-type: none;
	height: 240px;
	justify-content: space-evenly;

	li {
		display: flex;
		height: 48px;
		align-items: center;
		font-size: 14px;
		padding: 1rem;
		border-radius: 45px;
	}

	@media (min-width: $breakpoint-tablet) {
		flex-direction: row;
		align-items: center;
		height: 100px;
		flex-wrap: nowrap;
	}
}

.resto-zone {
	margin: 0 1rem;
}

.nom_restaurant {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: center;
	position: relative;
	background-color: $fond_restaurant_color;
	top: -50px;
	border-radius: 40px 40px 0 0;
}

.restaurant {
	img {
		width: 100%;
		object-fit: cover;

		@media (min-width: $breakpoint-tablet) {
			height: 20rem;
		}
	}
}

.menu_restaurant {
	margin: 0 1rem;

	h2 {
		margin: 0.7rem 0;
		font-size: 18px;
	}

	h3,
	p {
		margin: 0px;
		white-space: nowrap;
		overflow: hidden;
		font-size: 14px;
		text-overflow: ellipsis;

		@media (min-width: $breakpoint-tablet) {
			font-size: 16px;
		}
	}

	.entrees,
	.plats,
	.desserts {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include card_appear;

		@media (min-width: $breakpoint-desktop) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

.button-zone {
	display: flex;
	justify-content: center;
}

.menu_part h2 {
	font-weight: normal;
}