.intro {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	background: linear-gradient(white, #eaeaea);
	margin: 1rem 0 1rem 0;
	align-items: center;
	&__explain {
		font-weight: bold;
		font-size: 1rem;
		padding: 0 1.1rem;
		margin-top: 2rem;
	}
}

.bandeau-loc {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 3rem;
	background-color: #eaeaea;
	font-weight: bold;
	&__icon {
		padding-right: 1rem;
	}
}
.restaurants_list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.1rem 0;
	@media (min-width: $breakpoint-tablet) {
		gap: 2rem;
	}
}
.fonctionnement {
	margin: 0 1rem;
}
.fonctionnement-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style-type: none;
	height: 240px;
	justify-content: space-evenly;
	li {
		display: flex;
		height: 48px;
		align-items: center;
		font-size: 14px;
		padding: 1rem;
		border-radius: 45px;
	}
	.fa-store {
		color: $primary-color;
	}
	@media (min-width: $breakpoint-tablet) {
		flex-direction: row;
		align-items: center;
		height: 100px;
		justify-content: space-evenly;
	}
}
.restaurants_list {
	margin: 0 1rem;
}
