@charset "UTF-8";
/* essai keyframe texte brillant pour étiquette "Nouveau" 
@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}
__________________________

p {
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
}*/
@keyframes heart-fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
body {
  max-width: 768px;
  min-width: 320px;
  margin: auto;
  box-sizing: border-box;
  margin-bottom: -50rem;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 768px) {
  body {
    max-width: 100%;
  }
}
@media (min-width: 1440px) {
  body {
    max-width: 100%;
  }
}

* {
  box-sizing: border-box;
}
* a {
  color: black;
  text-decoration: none;
}
*:visited {
  color: black;
}

main {
  background-color: #f6f6f6;
  padding-bottom: 4rem;
}
main nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  main nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

h4,
h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  h4,
h1 {
    font-size: 2rem;
  }
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

.underline {
  background: #99e2d0;
  width: 45px;
  height: 0.3rem;
}

.btn {
  display: flex;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  border: none;
  width: 65%;
  max-width: 500px;
  margin-top: 3.5rem;
  box-shadow: 2px 4px 4px 1px rgba(128, 128, 128, 0.5);
}
@media (min-width: 768px) {
  .btn {
    width: 50%;
  }
}
.btn:hover {
  filter: brightness(1.35);
  box-shadow: 4px 6px 4px 1px rgba(128, 128, 128, 0.8);
}

.btn-fonct {
  display: flex;
  border: none;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  font-weight: bold;
  font-size: 14px;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 2px 4px 4px 1px rgba(128, 128, 128, 0.5);
}
.btn-fonct .fas {
  padding-right: 5px;
}
.btn-fonct:hover {
  cursor: pointer;
  display: flex;
  border: none;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  font-weight: bold;
  font-size: 14px;
  padding: 1rem;
  border-radius: 15px;
  background-color: #f2eafb;
  box-shadow: 4px 6px 4px 1px rgba(128, 128, 128, 0.8);
}
.btn-fonct:hover .fas {
  padding-right: 5px;
  color: #9356dc;
}

.num-fonct {
  display: flex;
  color: white;
  font-weight: bold;
  margin-left: -15px;
  width: 26px;
  height: 25px;
  background-color: #9356dc;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10px;
}

.btn-fonct-pink {
  display: flex;
  border: none;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  height: 3rem;
  font-weight: bold;
  font-size: 14px;
  padding: 1rem;
  border-radius: 15px;
  background-color: #f2eafb;
  box-shadow: 2px 4px 4px 1px rgba(128, 128, 128, 0.5);
}
.btn-fonct-pink .fas {
  padding-right: 5px;
  color: #9356dc;
}

.nouveau {
  width: 5rem;
  height: 2.5rem;
  color: #1a8a68;
  background: #99e2d0;
  line-height: 2rem;
  position: absolute;
  text-align: center;
  display: block;
  font-weight: bold;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  /*animation: nouv 2000ms forwards infinite;*/
}

.header {
  padding: 1rem;
  box-shadow: 0px 5px 5px lightgrey;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  margin: auto;
  width: 50%;
  min-width: 120px;
  max-width: 600px;
}
.header .fa-arrow-left {
  font-size: 1.5rem;
  position: absolute;
  left: 2rem;
  top: 2.1rem;
}

.card_restaurants {
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 20px;
  background-color: white;
  color: black;
  box-shadow: 0px 5px 10px #999;
  transition: transform 1s;
}
.card_restaurants a {
  color: #333;
  text-decoration: none;
}
.card_restaurants:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.15, 1.15);
}
.card_restaurants__photo {
  height: 80%;
}
.card_restaurants img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card_restaurants__text {
  display: flex;
  height: 20%;
  color: black;
}
.card_restaurants__infos {
  display: flex;
  justify-content: space-between;
}
.card_restaurants__heart {
  font-size: 1.6em;
}
.card_restaurants__heart .fas {
  z-index: 0;
  cursor: pointer;
}
.card_restaurants__heart .fas:hover {
  animation: heart-fill 300ms ease-in-out;
  z-index: 1;
  background-clip: text;
  color: red;
  display: inline-block;
  opacity: 1;
  font-weight: bold;
}
.card_restaurants__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.card_restaurants h3 {
  margin: 0.3rem 0;
  font-size: 12px;
  font-weight: bold;
}
.card_restaurants p {
  margin: 0.3rem 0;
  font-size: 12px;
}
@media (min-width: 768px) {
  .card_restaurants {
    width: 350px;
  }
}

.meal_card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.meal_card__body__price {
  font-weight: bold;
}
.meal_card__body__check {
  display: flex;
  width: 0%;
  color: white;
  background-color: #99e2d0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0 15px 15px 0;
  transition: all 1s;
}
.meal_card__body__name, .meal_card__body__price {
  font-size: 1rem;
  margin: 0.5rem 0.3rem;
  padding: 0 0.6rem;
}
.meal_card__body__name {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.meal_card__body__name--brief {
  font-weight: normal;
  margin: 0.3rem 0;
  font-size: 13px;
}

.meal_card {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem;
  border-radius: 15px;
  background-color: white;
  text-overflow: ellipsis;
  transition: all 1s;
  box-shadow: 2px 4px 4px 1px rgba(128, 128, 128, 0.5);
}
.meal_card:hover .meal_card__body__check {
  width: 20%;
}
.meal_card:hover .fa-check-circle {
  transition: all 1s;
  transform: rotate(0deg);
}
.meal_card .fa-check-circle {
  font-size: 2rem;
  transform: rotate(359deg);
}
@media (min-width: 1440px) {
  .meal_card {
    width: 30%;
  }
}

.footer {
  background-color: #353535;
  color: white;
}
.footer__flex {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer ul {
    display: flex;
    justify-content: space-evenly;
  }
}
.footer a {
  color: white;
  line-height: 1.7rem;
}
.footer h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer h4 {
    text-align: center;
    font-size: 1.7rem;
  }
}
.footer i {
  margin-right: 1rem;
}
.footer .fa-utensils {
  font-size: 19px;
  margin-right: 1.3rem;
}
.footer body {
  margin: 0;
  padding: 0;
}
.footer * {
  margin: 0px;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: linear-gradient(white, #eaeaea);
  padding-bottom: 2.5rem;
  align-items: center;
}
.intro__explain {
  font-weight: bold;
  font-size: 1rem;
  padding: 0 1.1rem;
  margin-top: 2rem;
}

.bandeau-loc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #eaeaea;
  font-weight: bold;
}
.bandeau-loc__icon {
  padding-right: 1rem;
}

.restaurants_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 1.1rem 0;
}
@media (min-width: 768px) {
  .restaurants_list {
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.fonctionnement {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .fonctionnement h2 {
    text-align: center;
  }
}

.fonctionnement-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  height: 240px;
  justify-content: space-evenly;
}
.fonctionnement-flex li {
  display: flex;
  height: 48px;
  align-items: center;
  font-size: 14px;
  padding: 1rem;
  border-radius: 45px;
}
@media (min-width: 768px) {
  .fonctionnement-flex {
    flex-direction: row;
    align-items: center;
    height: 100px;
    flex-wrap: nowrap;
  }
}

.resto-zone {
  margin: 0 1rem;
}

.nom_restaurant {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  top: -50px;
  border-radius: 40px 40px 0 0;
}

.restaurant img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .restaurant img {
    height: 20rem;
  }
}

.menu_restaurant {
  margin: 0 1rem;
}
.menu_restaurant h2 {
  margin: 0.7rem 0;
  font-size: 18px;
}
.menu_restaurant h3,
.menu_restaurant p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  .menu_restaurant h3,
.menu_restaurant p {
    font-size: 16px;
  }
}

.button-zone {
  display: flex;
  justify-content: center;
}

.menu_part h2 {
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
