body {
	@include body-position;
	@media (min-width: $breakpoint-tablet) {
		max-width: 100%;
	}
	@media (min-width: $breakpoint-desktop) {
		max-width: 100%;
	}
	font-family: "Roboto", sans-serif;
}
* {
	box-sizing: border-box;
}
main {
	background-color: $fond_restaurant_color;
}
