h4,
h1 {
	font-family: "Shrikhand", sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}
ul {
	list-style-type: none;
	padding-inline-start: 0;
}
a {
	text-decoration: none;
}
.underline {
	background: $tertiary-color;
	width: 45px;
	height: 0.3rem;
}
