/* essai keyframe texte brillant pour étiquette "Nouveau" 
@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}
__________________________

p {
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
}*/
@keyframes heart-fill {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heart-empty {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        font-size: 1.65rem;
    }
}

@keyframes appear {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear-rebond {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    40% {
        transform: translateY(-40px);
    }

    70% {
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg) translateY(-200%);
    }

    60%,
    100% {
        transform: rotate(360deg) translateY(-200%);
    }
}

@keyframes rotate-grad {
    0% {
        -webkit-filter: hue-rotate(0deg);
    }

    50% {
        -webkit-filter: hue-rotate(-45deg);
    }

    100% {
        -webkit-filter: hue-rotate(0deg);
    }
}