/* essai keyframe texte brillant pour étiquette "Nouveau" 
@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}
__________________________

p {
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
}*/
@keyframes heart-fill {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heart-empty {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        font-size: 1.65rem;
    }
}

@keyframes appear {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}