@mixin body-position {
	max-width: $wmax;
	min-width: $wmin;
	margin: auto;
	box-sizing: border-box;
	margin-bottom: -50rem;
}

@mixin linear-grey {
	background: linear-gradient(#ffffff, #c3c3c3);
}

@mixin boxshadow {
	box-shadow: 2px 4px 4px 1px rgba(128, 128, 128, 0.5);
}

@mixin boxshadow-hover {
	box-shadow: 4px 6px 4px 1px rgba(128, 128, 128, 0.8);
}

@mixin btn-fonct {
	display: flex;
	border: none;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	height: 3rem;
	font-weight: bold;
	font-size: 14px;
	padding: 1rem;
	border-radius: 15px;

	.fas {
		padding-right: 5px;
	}
}

@mixin btn-fonct-pink {
	display: flex;
	border: none;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	height: 3rem;
	font-weight: bold;
	font-size: 14px;
	padding: 1rem;
	border-radius: 15px;
	background-color: #f2eafb;

	.fas {
		padding-right: 5px;
		color: $primary-color;
	}
}

@mixin card_appear {
	&:nth-child(1) {

		animation: appear 1.5s ease-in-out .1s;
	}

	&:nth-child(2) {

		animation: appear 1.7s ease-in-out .1s;
	}

	&:nth-child(3) {

		animation: appear 1.9s ease-in-out .1s;
	}

	&:nth-child(4) {

		animation: appear 2.1s ease-in-out .1s;
	}
}

@mixin loader {

	visibility: hidden;


	.loader-circle .loader-quart {
		animation: hideLoader 3500ms 1 forwards;
	}

}

@mixin gradient-logo-color {
	background: -webkit-radial-gradient(circle, rgba(147, 86, 220, 1) 25%, rgba(255, 121, 218, 1) 50%, rgba(153, 226, 208, 1) 75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}