$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$intro-color: gainsboro;
$footer-color: gray;
$linear-grey: linear-gradient(#ffffff, #c3c3c3);

$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;
