$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$intro-color: gainsboro;
$footer-color: gray;
$fond_restaurant_color: #f6f6f6;

$btn-color: linear-gradient(170deg, #ff79da, #9356dc);

$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;
